# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints

# Mac
.DS_Store

# Logs
*.log

# FAISS / models / caches
model_cache/
*.index
